.vscode
.venv
__pycache__/
/data/clarin
/data/dariah
error.log
.ipynb_checkpoints
sketchpad_visuals.ipynb
troubleshooting.ipynb
tips.csv

data/imagefiles/Metadaten/BAS_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/bbaw_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/HZSK_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/IDS_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/LAC_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/SAW_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/TG_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/UDS_Verwendung_von_Metadatenfeldern.png
data/imagefiles/Metadaten/worldviews_Verwendung_von_Metadatenfeldern.png
data/imagefiles/contributor/BBAW_Verteilung_contributor_hist.png
data/imagefiles/contributor/HZSK_Wordcloud_contributor.png
data/imagefiles/contributor/SAW_Verteilung_contributor_hist.png
data/imagefiles/contributor/UDS_Wordcloud_contributor.png
data/imagefiles/coverage/BBAW_Verteilung_coverage_hist.png
data/imagefiles/coverage/IDS_Verteilung_coverage_hist.png
data/imagefiles/coverage/UDS_Verteilung_coverage_hist.png
data/imagefiles/publisher/BBAW_Verteilung_publisher_hist.png
data/imagefiles/publisher/uds_publisher_wordcloud.png
